<%- include("partials/header"); -%>
<div class="about-container">
    <h1>
        <center>RAMAIAH INSTITUTE OF TECHNOLOGY</center>
    </h1>
    <div class="dept">Department of Information Science and Engineering</div>
    <div class="details-container">
        <div class="details">
            <div>Kushal K</div>
            <div>1MS20IS064</div>
        </div>
        <div class="details">
            <div>Manish Venugopal</div>
            <div>1MS20IS069</div>
        </div>
        <div class="details">
            <div>Nivedita GS</div>
            <div>1MS20IS080</div>
        </div>
        <div class="details">
            <div>Jason Lobo</div>
            <div>1MS20IS053</div>
        </div>
    </div>
</div>
    
    
